fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==3.2.0
pydantic[email]
pyyaml
openai
tiktoken
pandas
alembic
sentry-sdk[fastapi]
prometheus-fastapi-instrumentator
slowapi
faiss-cpu
